@import url("font.css");
.handwritten{
    font-family: 'Grape Nuts', cursive;
    font-size: 40px;
}
.head{
    font-size: 24px;
    line-height: 26px;
    font-weight: 100;
    font-style: oblique;
    /*color: red;*/
    /*font-variant: small-caps;*/
    /*font-stretch: condensed;*/
    /*text-align: right;*/
    /*letter-spacing: 5px;*/
    /*word-spacing: 25px;*/
    text-decoration: none;
    text-transform: capitalize;
}

/*fontawesome.com/icons*/
/*https://fontawesome.com/download*/
.sign{
    color: red;
    font-size: 10px;
}
i:hover{
    /*font-size: 50px;*/
    cursor: crosshair;
}
.btn{
    height: 200px;
    margin: 50px;
    /*background: linear-gradient(45deg, red, black);*/
    background: linear-gradient(to top left, red, black);
}


